body{

    min-height:100vh;

    background:#0a54e6;

    display:flex;

    align-items:center;

    justify-content:center;

    font-family: "Segoe UI", sans-serif;

}



.login-wrapper{

    width:100%;

    max-width:420px;

    padding:20px;

}



.login-card{


    background:white;

    padding:40px;

    border-radius:16px;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);

}



.logo-section{

    text-align:center;

    margin-bottom:30px;

}


.logo-section h2{

    font-weight:700;

    color:#2563eb;

}



.logo-section p{

    color:#6b7280;

    font-size:14px;

}



.form-control{

    height:45px;

    border-radius:8px;

}



.btn-primary{

    height:45px;

    border-radius:8px;

    font-weight:600;

}



#messageBox{

    font-size:14px;

}